/* html { 
    background: url(images/paper.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */
html {
}

body {
    margin: 0;
    text-align: center;
    background-color: #f0f0f0;
    font-family: "Courier New", Helvetica;
    color: #2c2b30;
    scroll-behavior: smooth;
}

p {
    display: inline;
}

.wrapper {
    display: flex;
    justify-content: left;
    flex-direction: column;
    min-height: 100vh;
    /* border: solid #2c2b30; */
    /* border-width: 0 0.1em 0.1em 0; */
}

/* code credit for blink to Will on Codepen https://codepen.io/haaswill/pen/VKzXvZ */
.blink {
    animation: blink 0.5s infinite;
  }
  @keyframes blink{
    to { opacity: .0; }
  }

  .flex {
      display: flex;
      justify-content: left;
  }

/* NAVIGATION  */
nav {
    /* background-color: #2c2b30; */
    box-shadow: 0.04em 0.04em #8a8a8a;
    position: fixed;
    padding: 2em;
    width: 0.01em;
    height: 0.01em;
    vertical-align: left;
    transition: ease 1s;
    font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
    z-index: 0;
}

a {
    opacity: 0.5;
    text-decoration: none;
    margin: 2em;
    transition: ease-out 1s;
}

/* a:hover {
    opacity: 100;
    text-decoration: none;
} */

nav:hover {
    background-color: #f0f0f0;
    width: 4em;
    height: 4em;
}

nav a:hover {
    opacity: 100;
    text-decoration: none;
}


/* @media(hover: hover) and (pointer: fine) {
    nav:hover a {
        opacity: 1;
        text-decoration: none;
    }
} */

.red {
    background-color: #fbc1c1;
}

.yellow {
    background-color: #f6ffb1;
}

.green {
    background-color: #b8f9b3;
}

.blue {
    background-color: #b2f2fb;
}

.purple {
    background-color: #fbc9f9;
}

/* MAIN  */

/* TITLE  */

.greetings {
    font-size: calc(14px + (25 - 14) * ((100vw - 300px) / (1600 - 300))); 
}

.title {
    color: #2c2b30;
    opacity: 0.8;
    /* vertical-align: center; */
    min-height: 100vh;
/* CREDIT TO CSS TRICKS FOR THIS LITTLE TRICK! 
https://css-tricks.com/books/fundamental-css-tactics/scale-typography-screen-size/ */
    font-size: calc(14px + (60 - 14) * ((100vw - 300px) / (1600 - 300)));
    padding: 1em;
    /* text-shadow: 0.03em 0.03em #8a8a8a; */
    z-index: 10;
    transition: ease 1s;
}

.name {
    position: fixed;
    top: 1em;
}

.page {
    scroll-behavior: smooth;
    position: sticky;
    top: 1em;
    text-align: left;
}

.pages {
    scroll-behavior: smooth;
    position: sticky;
    top: 3em;
    text-align: left;
}

.arrow {
    opacity: 1;
    border: solid #2c2b30;
    border-width: 0 0.05em 0.05em 0;
    display: inline-block;
    padding: 3px;
    margin: 0 0 5em 0;
  }

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

/* CONTENT */
.content {
    font-size: calc(14px + (35 - 14) * ((100vw - 300px) / (1600 - 300)));
    position: relative;
    left: 18em;
    top: 10em;
    max-width: 26em;
    justify-content: left;
    text-align: left;
}

/* .about_content:nth-child(2) {
    position: relative;
    left:
} */

.about_color {
    background-color: #fbc1c1
    width: 5em;
    height: 10em;
}

.image {
    position: relative;
    left: 10em;
    top: -1em;
}
  /* .arrow {
    background-color: red;
    display: inline-block;
    height: 10px;
    margin: 0 5px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 10px;
  }
  
  .arrow:before,
  .arrow:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 10px;
    position: absolute;
    width: 10px;
  }
  
  .arrow:before {
    top: -7px;
    left: 0;
  }
  
  .arrow:after {
    left: 6px;
    top: 0;
  } */

/* TITLE COLOR LOOP  */
/* Code credit: https://www.youtube.com/watch?v=NhwjIIO0_kY */
/* .title_loop:before {
    content: "kim";
    animation: animate infinite 8s;
}
@keyframes animate {
    0% {
        content: " kim";
        color: #fbc1c1;
    }
    50% {
        content: " kimchi";
        color: #b8f9b3;
    }
    70% {
        content: " kimischi";
        color: #b2f2fb;
    }
    100% {
        content: " kimchischmimchi";
        color: #fbc9f9;
    }
} */

/* h1:hover {
    color: #2c2b30;
} */
